
/*

input[type= email], [type=password]
{
  
    margin: .5rem 0;
    padding: 1rem;
    transition: all .7s;
    border-radius: 8px;
    border-color: white
}
[type=password]:focus input[type=text]:focus{
    border-color: #C8C8C8;
    background-color: #EFEFEF;
    transition: all .7s;
}
*/