#logounahlibrate-azul-about{
    padding-left: 135px;
    align-items: center;
    margin-bottom: 15px;
}

#lista{
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.idLista.letra{
    font-size: 14px;
    margin-left: 0px;
}
.idLista{
}

.clearfix{
    clear: both;
}

.centerList{
    width: 11rem;
    margin: 0px auto;
}