.imagenFondo1{
    background: url("../../../img/imagen1.jpg") no-repeat center center fixed;
    height: 1000px !important;
}

.form-control {
    margin-bottom: 20px;
}

.ant-btn{
    margin-bottom: 20px;
    background: #e6e6e6;
    margin-top: 10px;
}

.ant-upload-list-text-container, .ant-upload-list-picture-container {
    transition: opacity 0.3s, height 0.3s;
    margin-bottom: 20px;
}

.inputImagenPerfil{
    margin-bottom: 16px;
    margin-top: 40px;
}