.btn_submit{
    height: 2.5rem;
    border:none;
    background-color: #39A1E5;
    color:white;
    padding: .5px;
    margin: .5rem 0 .3rem;
    border-radius: 8px;

}

.btn_submit:hovera{
    background-color: #39A1E5;
}